.post {
  background: white;
  margin: 0em auto 2em auto;
  max-width: 60rem;
  padding: 0em 0 2em 0;
  box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
}

.post > * {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 1em;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 2em 1em 1em;
  text-align: center;
}

.post p {
  text-align: justify;
  /*text-indent: 1.5em;*/
  text-justify: inter-word;
}

.post p:first-of-type,
.post h2 + p {
  text-indent: 0;
}

.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  margin: 1.5em;
}

.post li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.post-content:first-child {
  margin-top: 4em;
}

.post-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $spacing-unit;

    div {
      flex: 1 1 0;
      
      &:first-child {
        padding-right: 0.5em;
      }
      
      &:last-child {
        padding-left: 0.5em;
        text-align: right;
      }
    }
}

.unsighted {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
