---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Página {{ paginator.page }}
    {% else %}
      
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.page != paginator.total_pages %}
          <a href="{{ site.baseurl }}/page/{{ paginator.total_pages }}" class="pagination-next btn">&lang;&lang;&nbsp;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}        
        <span class="pagination-number">{{ paginator.page }} de {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        {% if paginator.page > 1 %}          
          <a href="/" class="pagination-previous btn">&nbsp;&rang;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}

  <div class="mt-3">    
    <form action="https://api.staticforms.xyz/submit" method="POST">

      <input type="hidden" name="apiKey" value="sf_05l2bgdd6566n3d73li7e63c">
      <input type="hidden" name="redirectTo" value="{{ site.url }}/subscribed">
    
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="button-addon1" id="email" name="email" required>
        <button class="btn btn-outline-secondary subscribe" type="submit" id="button-addon1">Fazemos assim. Fica o email, quando actualizares esta cena, avisa</button>
      </div>
    </form>
  </div>
</main>